name: Update Omny XML

on:
  schedule:
    - cron: "0 15 * * *"   # Runs every day at 10:00 AM New York time
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-xml:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install deps
        run: pip install requests

      - name: Run update script
        run: python update_xml.py

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add omny.xml
          git commit -m "Daily Omny XML update" || exit 0
          git push
